.nav-link.active, .nav-link:hover {
  border-bottom: 2px solid var(--bs-dark);
}

.slidein {
  opacity: 0%;
  animation: 1s slidein forwards;
}

@keyframes slidein {
  from {
    transform: translateY(-5em);
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

.card-img {
  max-width: 20em;
  max-height: 30em;
}

.card-text {
  font-size: 1.5em;
  font-weight: lighter;
}